<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">

      <!-- Detsyk Oleh's tests -->
    <test verbose="3" name="Oleg Decyk's tests">
        <classes>
            <class name="main.java.test.TestLoginForm">
                <methods>
                    <include name="testLoginForm"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>